<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta charset="UTF-8">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/error.css" type="text/css" />

  <!--Bootstrap & font-->
  <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/minty/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9NlqO4dP5KfioUGS568UFwM3lbWf3Uj3Qb7FBHuIuhLoDp3ZgAqPE1/MYLEBPZYM" crossorigin="anonymous">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Great+Vibes&display=swap" />

  <script type="text/javascript" src="/scripts/app.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/tether/1.3.2/js/tether.min.js"></script>
  <title>oh dear, something has gone awry</title>
</head>

<body>
  <div class="flexbox">
    <h1 class="mb-1" name="error-message">oh dear, is that a 404 ERROR I'm sensing?</h1>
    <div>
      <iframe src="https://giphy.com/embed/14aUO0Mf7dWDXW" width="480" height="480" frameBorder="0" class="gif"
        allowFullScreen></iframe>
      <p><a href="https://giphy.com/gifs/embarrassed-facepalm-panda-14aUO0Mf7dWDXW">via GIPHY</a></p>
    </div>
    <div>
      <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
          <div class="d-flex w-100 justify-content-between" id="error-list">
            <p>The page you are looking for might have been removed.</p>
            <p>Or maybe it has been renamed?</p>
            <p>Or maybe it is temporarily unavailable?</p>
            <p>Or maybe one of us made a mistake?</p>
            <p>Why dont you try <a href="http://localhost:8080/login">this link?</a></p>
          </div>
        </a>
      </div>
    </div>
  </div>
</body>

<footer>
  <p><b>Made With ♥ By Bitscuits</b></p>
</footer>

</html>
