<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  
  <!--Bootstrap-->
  <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/minty/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-9NlqO4dP5KfioUGS568UFwM3lbWf3Uj3Qb7FBHuIuhLoDp3ZgAqPE1/MYLEBPZYM" crossorigin="anonymous">
  <link rel="stylesheet" href="https://unpkg.com/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" type="text/css" />
  
  <!--Logo Font-->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Great+Vibes&display=swap" />
  
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/tether/1.3.2/js/tether.min.js"></script>
  
  <title>to-do | home</title>
  <link rel="shortcut icon" href="images/favicon.ico" type="image/png" /></head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary" id="navbar">
    <a class="navbar-brand" href="#">{to-do}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
      aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">Logout</a>
        </li>
      </ul>
    </div>
  </nav>

  <form class="form-group" action="/api/todos" method="POST">
    <input class="form-control form-control-lg" type="text" name="text" placeholder="Add new list item!" id="inputLarge">
    <div>
      <button type="submit" class="btn btn-info">Submit</button>
    </div>
  </form>

  <div class="list-container">
    <div class="list-group">
      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Films / Series</h5>
        </div>
      </a>
      <div id="toWatch"></div>
    </div>
    <div class="list-group">
      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Restaurants, cafes, etc.</h5>
        </div>
      </a>
      <div id="toEat"></div>
    </div>
    <div class="list-group">
      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Books</h5>
        </div>
      </a>
      <div id="toRead"></div>
    </div>
    <div class="list-group">
      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Products</h5>
        </div>
      </a>
      <div id="toBuy"></div>
    </div>
  </div>

  <footer>
    <p><b>Made With ♥ By Bitscuits</b></p>
  </footer>
</body>
