</html>

<body>
  <h1>Hello World!</h1>
</body>
<form class="form-inline" action="/api/users" method="POST">
  <input type="email" name="email" placeholder="EMAIL" style="width: 300px; margin: 1em">
  <br />
  <input type="password" name="password" placeholder="PASSWORD" style="width: 300px; margin: 1em">
  <br />
  <button type="submit" name="register">REGISTER</button>
</form>
<form class="form-inline" action="/logout" method="POST">
  <button type="delete" name="logout">LOGOUT</button>
</form>

</html>
