<!DOCTYPE html>
<html lang="en">
  <head>
    <title>To Do</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <h1>To Do</h1>
    <form method="POST" action="/users">
            <input type="email" name="email" placeholder="EMAIL" style="width: 300px; margin: 1em">
        <br/>
            <input type="password" name="password" placeholder="PASSWORD" style="width: 300px; margin: 1em">
        <br/>
        <button type="submit">REGISTER</button>
    </form>
    <div style="margin-top:5px">
        <p>Already have an account? <a href="/login">login here.</p>
    </div>
</body>
 

</html>