html {
  height: 100%;

  body {
    display: flex;
    min-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image:
      url(/images/background.png);

    .list-group {
      margin: auto;
      flex-shrink: 3;
      flex-basis: 650px;
      width: 80%;
      height: 50%;

      #welcome {
        margin: auto;
        font-size: 50px;
      }

      #brand {
        margin: auto;
        font-size: 80px;
        font-family: 'Great Vibes', cursive;
      }

      #userInfo {
        margin: auto;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        background-color: #f6efff;
      }

      #signIn {
        padding: 15px;
        font-size: 30px;
      }

      .insertEmail {
        padding: 15px;
      }

      .insertPassword {
        padding: 15px;
      }

      #login {
        padding: 20px;
      }

      hr {
        height: 1px;
        width: 450px;
        margin: auto;
        border-top: 3px dotted lightgrey;
      }

      p {
        margin: auto;
        padding: 15px;
      }

      #register {
        margin: auto;
        padding: 20px;
      }
    }

    footer {
      height: auto;
      bottom: 0px;
      position: fixed;
      min-width: 100%;
      max-width: 100%;
      color: #f4fffc;
      text-align: center;
      background-color: #7eb3a5;

      p {
        margin: 10px;
      }
    }
  }
}
