html {
  height: 100%;

  body {
    min-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image:
      url(/images/background.png);


    #navbar {

      .navbar-brand {
        transition: opacity 0.5s ease;
        opacity: .6;
        margin: auto;
        padding: 10px;
        font-size: 2.5rem;
        font-family: 'Great Vibes', cursive;
      }

      .navbar-brand:hover{
        opacity: 1;
      }

      .userGreeting {
        margin: auto;
        color: white;
        font-size: 20px;
        margin-left: 20px;
        margin-right: 20px;
      }
    }

    .flexbox {
      height: 85vh;
      width: 100vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      #userProfile {
        width: 50vw;
        height: 50vh;
        background-color: #cfd7f1;
        border-radius: 10px;

        .card-header {
          height: 20vh;

          .userAvatar {
            height: 7vw;
            display: block;
            margin: auto;
            border-radius: inherit;
            border: 2px solid #c7eaf1;
          }

          .userName {
            margin: auto;
            font-size: 2vw;
            text-align: center;
          }
          
        }

        .buttons {
          height: 100%;
          display: flex;
          flex-wrap: wrap;
          flex-direction: row;
          justify-content: space-evenly;
          align-items: center;

          .changeUsername {
            margin: auto;
            padding: 50px 10px;
            border-radius: inherit;
            border: 3px solid lavender;
          }

          .changeAvatar {
            margin: auto;
            padding: 55px 10px;
            border-radius: inherit;
            border: 3px solid lavender;
          }
        }
      }
    }

    footer {
      height: auto;
      bottom: 0px;
      z-index: 2;
      position: fixed;
      min-width: 100%;
      max-width: 100%;
      color: #f4fffc;
      text-align: center;
      background-color: #7eb3a5;

      p {
        margin: 10px;
      }
    }
  }
}
