html {
  height: 100%;

  body {
    min-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image:
      url(/images/background.png);

    .flexbox {
      height: 100vh;
      width: 100vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .list-group {
        flex-shrink: 3;
        flex-basis: 650px;
        width: 50%;

        #welcome {
          margin: auto;
          font-size: 50px;
        }

        #brand {
          margin: auto;
          font-size: 80px;
          font-family: 'Great Vibes', cursive;
        }

        #userInfo {
          margin: auto;
          align-items: center;
          flex-direction: column;
          justify-content: space-between;
          background-color: #f6efff;

          #header {
            padding: 25px;
            font-size: 30px;
          }

          hr {
            height: 2px;
            width: 100px;
            margin: auto;
            border-top: 3px dotted lightgrey;
          }

          .insertEmail {
            padding: 15px;
          }

          .insertPassword {
            padding: 15px;
          }

          #register {
            margin: auto;
            padding: 20px;
          }
        }
      }
    }

    footer {
      height: auto;
      bottom: 0px;
      z-index: 2;
      position: fixed;
      min-width: 100%;
      max-width: 100%;
      color: #f4fffc;
      text-align: center;
      background-color: #7eb3a5;

      p {
        margin: 10px;
      }
    }
  }
}
